
<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/share/1YXTcJxDur/"><i class="fa-brands fa-facebook" style="color: rgb(16, 108, 221)"></i></a> 
          <a href="https://www.instagram.com/nirmal_yadav_06/profilecard/?igsh=Zng2YjN1ZXIzdTQ5"><i class="fa-brands fa-square-instagram"  style="color: rgb(232, 20, 20)"></i> </a>
          <a href="https://www.linkedin.com/in/nirmal-yadav-8184ab33a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin" style="color: rgb(6, 101, 123)"></i> </a>
            <a href="https://x.com/nirmalyadav844?t=12eRE04Oen05vL_08lYsdw&s=09"><i class="fa-brands fa-square-twitter" style="color: rgb(38, 195, 253)"></i> </a>
            <a href="https://github.com/NIRMALYADAV-844" style="color: inherit;"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>&nbsp;&nbsp;
            <a href="">Terms</a>&nbsp;&nbsp
            <a href="">Sitemap</a>&nbsp;&nbsp
            <a href="">Company details</a>&nbsp;&nbsp
        </div>
    </div>
</footer>